body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    margin-left: 20px;
    font-size: 24px;
}

.flash-messages {
    margin: 50px 20;
    padding: 10px;
    max-width: 300px;
}
  

.notice {
    color: #28a745;
    background-color: #d4edda;
    border: 1px solid #28a745;
    padding: 10px;
    border-radius: 5px;
}

.alert {
    color: #d9534f;
    background-color: #f9d6d5;
    border: 1px solid #d9534f;
    padding: 10px;
    border-radius: 5px;
}

table {
    margin: 2px;
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.new-create {
    margin-left: 20px;
}